.pageLoadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .loadingContainer {
    button.continueButton {
      background: var(--main-color);
      color: var(--bg-color);
      border: none;
      padding: 1.5rem 4rem;
      font-size: 2rem;
      border-radius: var(--roundness);
      cursor: pointer;
      font-family: var(--font);
      text-transform: uppercase;
      letter-spacing: 0.1em;

      // Glowing animation
      animation: glow 1.5s ease-in-out infinite alternate;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}

@keyframes glow {
  from {
    box-shadow:
      0 0 10px var(--main-color),
      0 0 20px var(--main-color);
  }
  to {
    box-shadow:
      0 0 20px var(--main-color),
      0 0 40px var(--main-color),
      0 0 60px var(--main-color);
  }
}
